<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, class: 'input is-large', placeholder: "Seu Nome" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autocomplete: "email", class: 'input is-large',
      placeholder: "Seu email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", class: 'input is-large',
      placeholder: "Sua Senha (minimo #{@minimum_password_length} caracteres)" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",
      class: 'input is-large', placeholder: "Confirme sua Senha" %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastre-se", class: 'button is-block is-info is-large is-fullwidth' %>
  </div>
<% end %>
