<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'input is-large',
      placeholder: "Sua senha (minimo #{@minimum_password_length} caracteres)" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'input is-large',
      placeholder: "Confirmar Senha"  %>
  </div>

  <div class="actions">
    <%= f.submit "Alterar Senha", class: 'button is-block is-info is-large is-fullwidth' %>
  </div>
<% end %>
