<div class="columns">
  <div class="column is-half">
    <%= form_with model: live, local: true do |form| %>
      <div class="field">
        <%= form.label :subject, 'Assunto', class: 'label' %>
        <div class="control">
          <%= form.text_field :subject, class: 'input' %>
        </div>
      </div>

      <div class="field">
        <%= form.label :description, 'Descrição', class: 'label' %>
        <div class="control">
          <%= form.text_area :description, class: 'textarea' %>
        </div>
      </div>

      <div class="actions">
        <%= form.submit 'Salvar', class: 'button is-primary' %>
      </div>
    <% end %>
  </div>
</div>
