<%= form_with(model: live, local: true) do |form| %>
  <div class="field">
    <%= form.label :subject, 'Assunto' %>
    <%= form.text_field :subject %>
  </div>

  <div class="field">
    <%= form.label :description, 'Descrição' %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
