<%= form_with(model: live, local: true) do |form| %>
  <% if live.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(live.errors.count, "error") %> prohibited this live from being saved:</h2>

      <ul>
      <% live.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :subject, 'Assunto' %>
    <%= form.text_field :subject %>
  </div>

  <div class="field">
    <%= form.label :description, 'Descrição' %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
