<h3 class='is-size-3'>Lives</h3>

<table id='lives' class='table is-striped'>
  <thead>
    <tr>
      <th class='votes'><%= t '.vote' %></th>
      <th><%= t 'activerecord.attributes.live.subject' %></th>
      <th><%= t 'activerecord.attributes.live.description' %></th>
      <th class='author'><%= t 'activerecord.attributes.live.author' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lives.each do |live| %>
      <tr>
        <td>
          <span class='tag is-info'><%= live.votes_count %></span>

          <% if @voted_lives.include?(live) %>
            <%= link_to vote_path(live.votes.where(user: current_user).first),
              method: :delete, class: 'tooltip',
                data: { tooltip: 'Remover voto' } do %>
                <span class='tag is-success'>✔</span>
            <% end %>
          <% else %>
            <%= link_to votes_path(live_id: live.id),
              method: :post, class: 'tooltip',
              data: { tooltip: 'Votar' } do %>
                <span class='tag'>✔</span>
            <% end %>
          <% end %>
        </td>

        <td><%= live.subject %></td>
        <td><%= live.description %></td>

        <td>
          <%= image_tag live.author.decorate.avatar_url, class: 'avatar' %>
          <%= live.author.name %>
        </td>

        <td>
          <% if live.author == current_user %>
            <%= link_to 'Editar', edit_live_path(live), class: 'button is-success is-small' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Sugerir live', new_live_path, class: 'button is-primary' %>
