<h3 class='is-size-3'>Lives</h3>

<table class='table is-striped'>
  <thead>
    <tr>
      <th>Votar</th>
      <th>Assunto</th>
      <th>Descrição</th>
      <th>Autor</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lives.each do |live| %>
      <tr>
        <td>
          <span class='tag is-info'><%= live.votes_count %></span>

          <% if @voted_lives.include?(live) %>
            <%= link_to '✓',
              vote_path(live.votes.where(user: current_user).first),
              method: :delete, class: 'button is-success is-small' %>
          <% else %>
            <%= link_to 'Votar', votes_path(live_id: live.id),
              method: :post, class: 'button is-small' %>
          <% end %>
        </td>

        <td><%= live.subject %></td>
        <td><%= live.description %></td>
        <td><%= live.author.name %></td>

        <td>
          <% if live.author == current_user %>
            <%= link_to 'Editar', edit_live_path(live), class: 'button is-success is-small' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Sugerir live', new_live_path, class: 'button is-primary' %>
