<!DOCTYPE html>
<html>
  <head>
    <title>Easy Lives</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <nav>
        Logado como <strong><%= current_user.name %></strong>
        -
        <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
      </nav>
    <% end %>

    <%= yield %>
  </body>
</html>
