  <!DOCTYPE html>
  <html lang='pt'>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Easy Lives</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
    </head>

    <body>
      <section class="hero is-primary is-medium">
        <div class="hero-head">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <%= link_to 'Easy Lives', root_path, class: 'navbar-item' %>

                <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>

              <% if user_signed_in? %>
                <div id="navbarMenuHeroA" class="navbar-menu">
                  <div class="navbar-end">
                    <div class="navbar-item">
                      <p>Logado como <strong><%= current_user.name %></strong></p>
                    </div>

                    <%= link_to 'Sair', destroy_user_session_path,
                      method: :delete, class: 'navbar-item' %>
                  </div>
                </div>
              <% end %>
            </div>
          </nav>
        </div>
      </section>

      <section class="section">
        <div class="container">
          <%= render 'layouts/flash_messages' %>

          <%= yield %>
        </div>
      </section>

      <footer class='footer'>
        <div class='content has-text-centered'>
          <p class='subtitle is-6'>
            Esse projeto está sendo desenvolvido ao-vivo através das
            <a href='https://www.lucascaton.com.br/lives/' target='_blank'>LIVES do Lucas Caton</a>.
          </p>

          <p class='subtitle is-6'>
            O repositório está no GitHub e é <em>open source</em>:
            <a href='https://github.com/lucascaton/easy-lives' target='_blank'>github.com/lucascaton/easy-lives</a>.
          </p>
        </div>
      </footer>
    </body>
  </html>
