  <!DOCTYPE html>
  <html lang='pt'>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Easy Lives</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'devise', media: 'all' %>
      <%= javascript_include_tag 'devise' %>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    </head>

    <body>
      <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">Easy Live</h3>
                    <p class="subtitle has-text-grey">Coloque suas credenciais para entrar.</p>
                    <div class="box">
                      <figure class="avatar">
                          <img src="https://placehold.it/128x128">
                      </figure>
                      <%= yield %>
                    </div>
                    <p class="has-text-grey">
                      <%= render partial: "/devise/shared/links" %>
                    </p>
                    <%# <p class="has-text-grey">
                        <a href="../">Sign Up</a> &nbsp;·&nbsp;
                        <a href="../">Forgot Password</a> &nbsp;·&nbsp;
                        <a href="../">Need Help?</a>
                    </p> %>
                </div>
            </div>
        </div>
    </section>
    </body>
  </html>
